<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>About - Progressus Bootstrap template</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/content/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/content/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">


        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">About us</h1>
                </header>
                <h3>E_Learning</h3>
                <p>
                    <img src="~/images/mac.jpg" alt="" class="img-rounded pull-right" width="300">E_Learning is basically a platform to the students who are studying in computer science and have various questions.The user can get suitable knowledge through this website.
                </p>
                <p>Which , for some would impede our pleasure to be less bound to pay ! Pleasures , any error is to be assumed that they do not know who discovered the body of the law or in the least painful pain can pardon her other !</p>
                <h3>Needs</h3>
                <p>Wants , hates his freedom so prevents pain seek undertaking other consequences of choices , greater proportion of the time is something extremely choosing the resultant pain she said dislikes certain labor pain that corrupt discoverer. Ancestors , painful consequences of them avoided the annoyance of some snacks praising pleasures acceptable than some tomato !</p>
                <h3>Fugit, laboriosam</h3>
                <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
               

            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="widget">
                    <h4>Advantages</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><span style="color: #0094FF">Books</span><br>
                            <span class="small text-muted">The Users, especially students can upload and download books to get better convenience</span></li>
                        <li><span style="color: #0094ff">Lectures</span><br>
                            <span class="small text-muted">Users can download and upload lectures av all kinds to convenient other.</span></li>
                        <li><span style="color: #0094FF">Questions</span><br>
                            <span class="small text-muted">Users can ask questions of every topic,s related to get quick response of it.</span></li>
                        <li><span style="color: #0094FF">At a Glance</span><br>
                            <span class="small text-muted">Users and visiters can survey it and get profitable knowledge what they want.They can get multiple topics related knowledge at one place.</span></li>
                        <li><span style="color: #0094FF">Interactions</span><br>
                            <span class="small text-muted">Users also interact different people on this place and can know the ideas of different places' peoples.</span></li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </div>
    <!-- /container -->

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/headroom.min.js"></script>
    <script src="~/Scripts/jQuery.headroom.min.js"></script>
    <script src="~/Scripts/template.js"></script>
</body>
</html>
