@model List<retry.Models.Question>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Contact us - Progressus Bootstrap template</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/content/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/content/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>


<body>
    <table>
     <tr>
         <td><h2>Questions</h2></td>
     </tr>
@foreach (var c in Model)
{
    <tr>
    <td>@c.Name</td>
         
    
    <td>
    <a href="/Questions/Update"/@c.Id>Update</a>
    <a href="/Questions/Delete"/@c.Id>Delete</a>
    </td>
            </tr>
    
}

        </table>
    <h2>Add</h2>
<form action="/Questions/AddQuestion" method="post">
    @*Name @Html.TextBoxFor(model => model.Name)*@
    <input type="text" name="Lname" />
    <input type="submit" value="Add Lecture" />
</form>


<h2>Questions</h2>

    <!-- /Article -->


    <!-- Sidebar -->
    <aside class="col-sm-3 sidebar sidebar-right">

        <div class="widget">
            <h4>Address</h4>
            <address>
                The PUCIT, Purani Anarkali, Old Campus, Lahore.
            </address>
            <h4>Phone:</h4>
            <address>
                +92-312-6187612
            </address>
        </div>

    </aside>
    <!-- /Sidebar -->


    <!-- /container -->

    <section class="container-full top-space">
        <div id="map"></div>
    </section>




    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/headroom.min.js"></script>
    <script src="~/Scripts/jQuery.headroom.min.js"></script>
    <script src="~/Scripts/template.js"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
    <script src="~/Scripts/google-map.js"></script>


</body>
</html>
